/* Buttons */

.btn-primary {
	@include button($light, $primary);
}

.btn-outline-primary {
	@include button($primary, $dark, $primary);
}

.btn-secondary {
	@include button($light, $secondary);
}

.btn-outline-secondary {
	@include button($secondary, $dark, $secondary);
}

.btn-success {
	@include button($light, $success);
}

.btn-outline-success {
	@include button($success, $dark, $success);
}

.btn-info {
	@include button($light, $info);
}

.btn-outline-info {
	@include button($info, $dark, $info);
}

.btn-warning {
	@include button($dark, $warning);
}

.btn-outline-warning {
	@include button($warning, $dark, $warning);
}

.btn-danger {
	@include button($light, $danger);
}

.btn-outline-danger {
	@include button($danger, $dark, $danger);
}

.btn-light {
	@include button($dark, $light);
}

.btn-outline-light {
	@include button($light, $dark, $light);
}

.btn-dark {
	@include button($light, $dark);
}

.btn-outline-dark {
	@include button($light, $dark, $grey);
}

.btn-link {
	color: $secondary;
	padding: 0;
	background-color: transparent;
	border: none;
	&:hover {
		color: $primary;
	}
}

.btn-group {
	border-radius: 0.375rem;
	border-radius: 100%;
	background-color: black;
	label {
		padding: 5px;
		min-height: 0;
		border-color: $primary !important;

		&.active {
			background-color: $primary !important;
			border-color: $primary !important;
		}
	}
}
