@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;600;700&display=swap');

/* Variabili dei colori dell'applicazione */
@import '_variables.scss';

/* Import Bootstrap SCSS */
@import 'bootstrap-scss/bootstrap';

/* Import icone Bootstrap */
@import 'bootstrap-icons/font/bootstrap-icons';

/* Import NgSelect */
@import '@ng-select/ng-select/themes/default.theme.css';

/* Import funzioni SASS mixin */
@import 'mixin.scss';

/* Import stili dei form */
@import 'form.scss';

/* Import stili dei bottoni */
@import 'buttons.scss';

/* Import stili e dimensioni dei testi */
@import 'text.scss';

body {
	font-family: $font-roboto;
	overflow-y: auto;
}
body::-webkit-scrollbar {
	width: 1em;
	padding: 2px;
}
body::-webkit-scrollbar-thumb {
	background-color: color-mix(in srgb, $primary 70%, $dark 30%);
	border-radius: 0.5em;
	border: 1px $dark solid;
	margin: 2px;
}

.wrapper {
	min-height: calc(100vh - 40px); // 40px è l'altezza del footer
}

header {
	.header-logo {
		height: 50px;
	}
}

footer {
	max-height: 40px;
}

.nav-link {
	color: $light !important;

	&.active {
		color: $primary !important;
	}
}

.pointer {
	cursor: pointer;
}

/* Responsive deve rimanere sempre in fondo al file */
@import 'responsive.scss';
