<!-- LOGIN CON TRAKT -->
<div class="container-sm">
	<div class="card mt-5 mx-auto" style="width: 30rem;">
		<div class="card-header">
			<h3 class="w-100 text-center">Trakt Bulk Edit</h3>
		</div>
		<div class="card-body">
			<p class="card-text text-center mb-4">
				Manage your Trakt.tv watched history efficiently.
				<br />
				Bulk remove movies and episodes, check your progress, and keep your profile clean.
			</p>
			<div class="d-flex justify-content-center">
				<button class="btn btn-primary" (click)="login()">Connect Trakt</button>
			</div>
		</div>
		<div class="card-footer text-center">
			<a href="https://github.com/paolocuscela/trakt-bulk-edit" target="_blank" class="text-muted small text-decoration-none">
				<i class="bi bi-github me-2"></i>
				View on GitHub
			</a>
		</div>
	</div>
</div>
