name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Create Secrets File
        run: |
          sed -i 's|traktClientId: .*|traktClientId: "${{ secrets.TRAKT_CLIENT_ID }}",|' src/environments/environment.prod.ts
          sed -i 's|traktClientSecret: .*|traktClientSecret: "${{ secrets.TRAKT_CLIENT_SECRET }}",|' src/environments/environment.prod.ts
          sed -i 's|tmdbApiKey: .*|tmdbApiKey: "${{ secrets.TMDB_API_KEY }}",|' src/environments/environment.prod.ts

      - name: Build
        run: npm run build:prod -- --base-href /${{ github.event.repository.name }}/

      - name: Copy index.html to 404.html
        run: cp dist/browser/index.html dist/browser/404.html

      - name: Detect output directory
        id: detect_dist
        run: echo "path=dist/browser" >> $GITHUB_OUTPUT

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ steps.detect_dist.outputs.path }}

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
